* {
  margin: 0;
  padding: 0;
}

/* text */
.uppercase {
  text-transform: uppercase;
}

/* flex */
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.direction-col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}

/* margin & padding */
.m-10 {
  margin: 30px;
}

/* color & bg-colors */
.bg-light-grey {
  background-color: rgb(204, 200, 200);
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: grey;
}
/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* height & width */
.h-full {
  height: 100vh;
}
.w-full {
  width: 100vw;
}

/* custom class */
.arrow {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: white;
}
.left-arrow {
  left: 2.25rem;
}
.right-arrow {
  right: 2.25rem;
}

img {
  width: 500px;
}
.image {
  border-width: 2px;
  border-radius: 5px;
}
.hide-current-image {
  display: none;
}
.dot-circle {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin: 2px;
  cursor: pointer;
}
.dot-container {
  position: relative;
  top: -3.5rem;
}
